body {
    background-color: black;
}

h1 {
    font-size: 4rem;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header {
    background-color: rgb(86, 133, 86);
    color: white;
    display:flex;
    width: 900px;
    margin: 0 auto;
    justify-content: center;
    margin: 20px auto 20px;
    border-radius: 10px;
}

.btn {
    width: 45%;
    padding: 30px;
}

.simon {
    display: flex;
    height: 500px;
    width: 500px;
    flex-wrap: wrap;
    background-color: black;
    margin: 0 auto;
}

.game-button {
    height: 250px;
    width: 50%;
    font-size: 1.7rem;
    color: white;
}

.btn-1 {  
    border-radius: 100% 0 0 0;
    background-color: red; 
}

.btn-2 { 
    border-radius: 0 100% 0 0;
    background-color: green; 
}

.btn-3 { 
    border-radius: 0 0 0 100%;
    background-color: orange; 
}

.btn-4 { 
    border-radius: 0 0 100% 0;
    background-color: blue; 
}

.start-buttons {
    width: 100%;
}
